<a href="https://colab.research.google.com/github/Sitoke123/PYTHONrepo/blob/main/Python_assignment_(Pranay_Sitoke).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1
n= float(input("Enter the float number "))
d= "{:.2f}".format(n)
print(d)

Enter the float number 5.689
5.69

In [3]:
#2
a= int(input("enter the integer "))
b= int(input("enter another integer "))
print("product= ",a*b)

enter the integer 8
enter another integer 6
product=  48

In [5]:
#3
r= 10
pi= 3.14
vol= (4*pi*r*r*r)/3
print("volume of sphere ",vol)

volume of sphere  4186.666666666667

In [7]:
#4
n1= int(input("enter the first number "))
n2= int(input("enter the second number "))
print("product= ",n1*n2)

enter the first number 5
enter the second number 6
product=  30

In [8]:
#5
a= int(input("enter an integer= "))
SOP= a+a*a+a*a*a
print(SOP)

enter an integer= 3
39

In [10]:
#6
string= str(input("enter a string "))
l= len(string)
print("length of the string is ",l)

enter a string Pranay
length of the string is  6

In [12]:
#7
str_1= "130"
str_2= "130.4"
print("parsed into Int ",int(str_1))
print("parsed into Float ",float(str_2))

parsed into Int  130
parsed into Float  130.4

In [16]:
#8
n1= int(input("enter the number "))
n2= int(input("enter another number "))
c=n1+n2
if(c>100):
  print("sum is greater than 100 so product will be ",n1*n2)
else:
    print("sum of two number is",c)

enter the number 101
enter another number 1
sum is greater than 100 so product will be  101

In [18]:
#9
a= 10
b= 10
c= 20
if(a==b==c):
  print("sum is ",a+b+c)
else:
    print("sum is ",a+b+c)
    print("product is",a*b*c)

sum is  40
product is 2000

In [23]:
#10
price=100
n= int(input("enter the quantity purchased "))
tot_price= n*100
dscnt= 0
if(tot_price>10000):
  dscnt= tot_price*0.5
  price("your bill with 50% discount= ",dscnt)
else:
  print("your total bill is ",tot_price,"/n Discount= ",dscnt)

enter the quantity purchased 100
your total bill is  10000 /n Discount=  0

In [24]:
#11
n= int(input("enter a number "))
if(n%8==0 and n%12==0):
  print("number is divisible by both 8 and 12 ")
else:
  print("number can be divisible either by 8 or 12 \nOR\ not didvisible by both ")

enter a number 24
number is divisible by both 8 and 12

In [25]:
#12
n=int(input("enter a number "))
if(n%2==0):
  print("the number is even")
else:
  print("the number is odd")

enter a number 45
the number is odd